main {
    font-size: large;
    margin: 1%;
}

#outer_header {
    background-color: rgb(220, 20, 60);
    padding: 10px;
}

#inner_header {
    background-color: rgb(206, 206, 206);
    border: solid black thick;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

#demo {
    width: 0px;
}

#demo.in {
    width: 200px;
}

#demo {
    -webkit-transition: width 2s ease;
    -moz-transition: width 2s ease;
    -o-transition: width 2s ease;
    transition: width 2s ease;

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    background: yellow;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
}

.col-lg-6 {
    border-radius: 10px;
    border: solid black thin;
    text-align: center;
}

.btn-default {
    background-color: rgb(206, 206, 206);
    border: solid black thin;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: rgb(206, 206, 206);
    border: solid black thin;
}

.measurement {
    font-size: 30px;
}


